
<%- include('../partials/header.ejs') %>;
<div class="row">
    <div class="col-6 m-auto ">
     <h1>New form to post a notification</h1>
        <form class="w-50%" action="/jobs" method="post">
            <div class="mb-3">
                <label for="body" class="form-label">Notification Body</label>
                <input type="text" class="form-control" id="body" name="body" required >
            </div>
            <div class="mb-3 ">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" required >
            </div>
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="add a new Notification">
            </div>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>;
